


.photo{
text-align: center ; 
  

}

.text{
  text-align: center ; 
  
}
body{

}
h1{
	font-style: inherit;

}
.text1{
	text-align: center;
	font-family: fantasy;
	font-size: 25px

}
